* {
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .card-container {
    flex-wrap: nowrap;
    min-width: 96vw;
  }
  .card {
    min-width: 96vw;
  }
  .square {
    min-width: 96vw;
  }
  .name {
    font-size: 16px;
  }
  .about {
    font-size: 14px;
  }
  .p_about {
    padding: 5px 10px;
  }
}
