* {
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .card-container {
    flex-wrap: nowrap;
    min-width: 97.5vw;
  }
  .card {
    min-width: 97.5vw;
    border: 3px solid hsla(0, 0%, 45.9%, 0.74);
    margin: 3px;
  }
  .square {
    min-width: 97.5vw;
  }
  .name {
    font-size: 18px;
  }
  .about {
    font-size: 14px;
  }
  .p_about {
    padding: 5px 10px;
  }
}
